@font-face {
  font-family: satisfy;
  src: url("./font/Satisfy-Regular.ttf");
}

.titulo {
  font-family: satisfy;
  font-size: xx-large;
}
.navbarSupportedContent {
  align-content: center;
}

li {
  padding: 10px;
  font-style: normal;
  font-size: x-large;
  font-weight: bold;
}
.cantidad {
  padding: 5px;
}

.price {
  font-style: normal;
  font-weight: bold;
}

h1 {
  padding: 10px;
  font-style: normal;
  font-size: x-large;
  font-weight: bold;
  align-content: center;
  text-align: center;
}
footer {
  align-items: center;
}
btn .btn-default {
  border-color: black;
}
